
<div class="container-fixed">
  <div class="jumbotron container-fixed" id="content">
  </div>
</div>


<script>
$(function () {
  Cruci.CURRENT_USER_ID = "<%= current_user.id %>"
  Cruci.initialize();
});
</script>
