<h2>HOME</h2>
<% if logged_in? %>
  <h3>Welcome, <%=current_user.username%> </h3>
  <%= button_to 'Log Out', session_url, method: :delete %>
<% end %>

<div id="content"></div>
<script>$(TheCruciverbalist.initialize);</script>
