<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

<h3 class="all-puzzles-title my-puzzles">My Puzzles</h3>
    <div class="row all-my-puzzles">

    </div>
<h3 class="all-puzzles-title">My Games</h3>
    <div class="row all-my-games">

    </div>
