<div class="m-background">


</div>

<div class="m-content">
<form class="puzzle-form" action="/api/puzzles" method="post">
  <label>
  Title:
  <input type="text" class="title-input" name="puzzle[title]" value="<%=puzzle.title%>">
  </label>
  <br>
  <br>
  <div class="difficulty-radio-button">
    <label>
    Size:
    <label for="5x5"> 5x5 </label>
    <input type="radio" name="puzzle[size]" value="5,5" id="5x5">
    <label for="10x10">10x10 </label>
    <input type="radio" name="puzzle[size]" value="10,10" id="10x10">
    <label for="15x15">15x15 </label>
    <input type="radio" name="puzzle[size]" value="15,15" id="15x15">
    </label>
  </div>
  <br>
  <button class='create-puzzle btn btn-warning'>Create Puzzle</button>
  <br>
</form>
</div>
