
<br>
<br>
<br>
<div class="row puzzle-show">
  <div class="container-fluid edit-puzzle-components">

    <div class="puzzle-info affix-top"  data-spy="affix">
    <h4 class="puzzle-title"><%= puzzle.escape('title').toUpperCase() %></h3>
    <% if (mode === 'edit')  { %>
    <h4>Size: <%= puzzle.escape('row_no') + 'x' + puzzle.escape('col_no') %></h4>
    <h4><%= puzzle.percentComplete() + "%" %> Complete</h4>
    <br>
      <div class="puzzle-buttons">
        <a role="button" class="btn btn-success save-puzzle">Save</a>
        <br>
        <br>
        <a role="button" class="btn btn-primary play-puzzle">Play</a>
        <br>
        <br>
        <a role="button" class="btn btn-info edit-title">Edit Title</a>
        <br>
        <br>
        <a role="button" class="btn btn-warning check-symmetry">Symmetric?</a>
        <br>
        <br>
        <a role="button" class="btn btn-danger check-word-length">Check Word Length</a>
      </div>
      <% } else { %>
        <h4 class="author-username">By: <%= puzzle.escape('author')%></h4>
        <div class="game-show"></div>
        <div class="puzzle-buttons">
          <a role="button" class="btn btn-success save-game">Save</a>
          <br>
          <br>
          <a role="button" class="btn btn-warning reveal-puzzle">Reveal</a>
        </div>
      <% } %>
    </div>


    <br>
    <br>
    <br>
    <br>

    <div class="affix puzzle-grid container-fixed col-xs-4 " id="puzzle-grid">
    </div>


  <div class="clues">
    <div class="container-fluid across-clues col-xs-3" id="across-clues">

    </div>

    <div class="container-fluid down-clues col-xs-3" id="down-clues">

    </div>

  </div>

  <br>
  <br>
  <br>
  </div>
</div>
<br>
<br>
