<div class="m-background">


</div>

<div class="m-content">
<form class="puzzle-form" action="/api/puzzles" method="post">
  <label>
  Title:
  <input type="text" class="title-input" name="puzzle[title]" value="<%=puzzle.title%>">
  </label>
  <br>
  <label>
  Number Of Rows:
  <input type="number" class="size-input" name="puzzle[row_no]" min="3" max="21" value="15">
  </label>
  <br>
  <label>
  Number Of Columns:
  <input type="number" class="size-input" name="puzzle[col_no]" min="3" max="21" value="15">
  </label>
  <br>
  <button class='create-puzzle btn btn-warning'>Create Puzzle</button>
  <br>
</form>
</div>
