.container-fluid.across-answers {
  position: relative;
  margin-right: 60px;
}

h2.answer-index-title {
  width: 300px;
}

.container-fluid.down-answers {
  position: relative;
  margin-left: 60px;
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

h4.answer-string {
  font-size: 20px;
  white-space: nowrap;
}

ul.answer-list {
  width: inherit;
}

li.answer-index-item {
  border: 0px;
  width: 200px;
  background: none;
}

li.answer-index-item button.btn-info {
  font-size: 10px;
  display: inline;
  float: left;
}
