// Place all the styles related to the api/puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.puzzle-content {
 margin-top: 3%;
 height: 100%;
 width: 100%;
 margin: auto;
 display: block;
}

nav.navbar.navbar-fixed {
  padding-top: 3%;
  margin-bottom: 0;
}


div.puzzle-info {
  position: fixed;
  text-transform: capitalize;
  left: 10%;
  width: 10vw;
  top: 200px;
  margin-right: 1vw;
}

h4.puzzle-title {
  font-size: 30px;
  font-family: 'Bevan', cursive;
  color: black;
}


.sticky-pieces {
  margin-left: 25%;
  width: 100%;
  height: 100%;
  position: sticky;
}

div.puzzle-grid {
  top: 200px;
  position: fixed;
  left: 20%;
  margin-left: 100px;
  margin-right: 200px;
  vertical-align: center;
}


.puzzle-form label {
  font-family: "Arial";
  font-size: 22px;
  color: #29293D;
  display: inline;
}

a.btn {
  width: 180px;
  opacity: 30%;
  text-align: center;
  font-size: 25px;
  font-family: arial;
}

div.new-puzzle-form h2 {
  padding: 0px;
  bottom: -20px;
  color: #29293D;
  font-family: "Arial";
  font-size: 45px;
}

button.btn.btn-warning.nevermind-button {
  font-size: 20px;
  width: 150px;
}

li.puzzle-index-item h4 {
  width: 100%;
  display: inline;
  font-size: 10%;
  font-family: 'Bevan', cursive;
}

li.puzzle-index-item button {
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  left: -5%;
}

li.puzzle-index-item h3 {
  vertical-align: center;
  margin-top: 3%;
  font-size: 100%;
  display: inline-block;
  text-align: left;
  font-family: 'Bevan', cursive;
  font-weight: lighter;
  text-transform: capitalize;
}

li.puzzle-index-item {
  width: 100%;
  height: 5%;
  list-style: none;
}

li.puzzle-index-item button {
  font-size: 50%;
}

button.btn.btn-success {
  right: 100px;
}


.new-puzzle-form.hidden {
  display: none;
}

a.puzzle-index-link h4 {
  text-align: center;
  font-family: 'Bevan', cursive;
  font-weight: lighter;
  margin-right: 25%;
  color: #4d88f9;
}

a.puzzle-index-link h4:hover {
  color: black;
}

a.puzzle-index-link:hover {
  text-decoration: none;
}

div#content.container-fluid {
   clear: both;
   padding: 1.625em 0 0;
   overflow: auto;
   width: 100%;
   height: 100%;
   padding-top: 0px;
   margin-top: 0px;
}

.home-left {
  width: 20vh;
  text-align: center;
  height: 100vh;
}

ul.puzzle-index-items {
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
  margin-left: 0px;
}

ul.puzzle-index {
  padding: 0px;
  margin: 0px;
}
