// Place all the styles related to the api/puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.puzzle-content {
 margin-top: 3%;
 height: inherit;
 width: 100vw;
}

.container.edit-puzzle-components {
  margin: auto;
  width: inherit;
}

label.puzzle-title {
  position: relative;
  float: left;
  font-size: 30px;
  width: 10vw;
  font-family: arial;
  margin-right: 40px;
  color: black;
}

div.puzzle-grid {
  float: left;
  width: 40vw;
  position: relative;
  bottom: 20px;
  margin-right: 50px;
}

div.answers {
  bottom: 50px;
  background-color: white;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 30vw;
  margin-left: 30px;
  position: relative;
  display: block;
  float: left;
}

.answer-index-item {
  display: block;
  border: 1px solid black;
  width: 28px;
  margin-bottom: 2px;
  text-align: center;
  list-style: none;
  font-size: 14px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.puzzle-form label {
  font-family: "Arial";
  font-size: 22px;
  color: #29293D;
  display: inline;
}


div.new-puzzle-form h2 {
  padding: 0px;
  bottom: -20px;
  color: #29293D;
  font-family: "Arial";
  font-size: 45px;
}

button.btn.btn-primary.nevermind-button {
  font-size: 20px;
  width: 150px;
}

.container-fluid .puzzle-index {
  display: block;
  float: left;
  left: 450px;
  top: 9%;
  margin-left: 40px;
  position: absolute;
  width: inherit;
  padding: 40px;
}

li.puzzle-index-item {
  top: 20px;
  border: 1px solid lightgray;
  list-style: none;
  display: block;
  position: relative;
  float: left;
  background-color: white;
  color: lightblue;
  padding-top: 20px;
  padding-left: 3px;
  height: 200px;
  text-align: center;
  width: 250px;
  font-size: 30px;
  border-radius: 20px;
  margin: 20px;
}

.puzzle-index h2 {
  color: #29293D;
  font-size: 45px;
}

.container-fluid .home-left {
  display: block;
  float: left;
  margin-right: 100px;
  max-width: 300px;
}

button.btn.btn-success {
  right: 100px;
}

.new-puzzle-form {
  float: left;
  display: block;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin-right: 50px;
}

.new-puzzle-form.hidden {
  display: none;
}

.home-left button.btn {
  text-align: center;
  font-family: "Arial Narrow";
  font-size: 25px;
  width: 300px;
}

.new-puzzle-form input {
  font-family: "Arial";
  font-size: 25px;
  color: black;
  text-align: center;
}
