// Place all the styles related to the api/squares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.grid-square {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid black;
  float: left;
  position: relative;
  color: black;
  background-color: white;
}

div.grid-square.blacked-out {
  background-color: black;
}


p.ans-no {
  top: 0%;
  position: relative;
  float: left;
  padding: 0px;
  border: 0px;
  font-size: 10px;
  line-height: none;
}

div.grid-square.selected-square {
  border: 3px solid blue;
}

.form-div form.square-form {
  text-align: center;
}

input { box-sizing: border-box}

div.grid-square input.square-val {
  height: 75%;
  width: 100%;
  bottom: -7px;
  vertical-align: center;
  text-align: center;
  background-color: transparent;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}

div.grid-square input.square-val.with-no{
  bottom: 21px;
}


div.grid-square input:focus{
  outline-width: 0;
}

div.grid-square.error-square {
  border: 4px solid red;
}
