/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar {
  background-color: black;
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
}

.navbar .site-title {
  position: relative;
  left: 15%;
}

h1.definition {
  font-size: 40px;
}


.btn-primary {
  font-size: 25px;
}

.container-fluid {
  padding: 0px;
  border-radius: 0px;
}

.sign-in-form-field input {
  width: 40%;
}

.sign-in-form-field h4 {
  font-size: 25px;
}


.site-title {
  font-family: arial;
  color: white;
}

.sign-in-jumbo {
  background-image: image-url('coffee_photo.jpg');
  background-size: cover;
  position: relative;
  width: inherit;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: lightgray;
  display: block;
  border-radius: 6px;
  border: 1px solid lightgray;
  margin: 5px;
}
