
<br>
<br>
<br>
  <div class="row home-options">

    <div class="row">
      <div class="home-col col-md-2 col-md-offset-2">
        <div class="home-div play-todays-puzzle">
          Play Today's Puzzle
        </div>
      </div>
      <div class="home-col col-md-2 col-md-offset-1">
        <div class="home-div make-a-new-puzzle">
          Make A New Puzzle
        </div>
      </div>
      <div class="home-col col-md-2 col-md-offset-1">
        <div class="home-div my-puzzles">
          My Puzzles
        </div>
      </div>
    </div>


  </div>
