
<div class="container col-md-4 home-left">
  <h1>HOME</h1>
  <div class="home-buttons">
    <button class="btn btn-info new-puzzle-button">
      <span> + Make A New Puzzle</span>
    </button>
    <br>
    <br>
    <button class="btn btn-info todays-puzzle-button">
      <span> + Solve Today's Puzzle</span>
    </button>
    <br>
    <br>
    <button class="btn btn-info find-puzzle-button">
      <span> + Find A Puzzle</span>
    </button>
    <br>
    <br>
    <br>
  </div>
  <div class="new-puzzle-form hidden">
  </div>
  <br>
  <br>
  <br>
</div>

<div class="container-fluid col-md-7 puzzle-index">

</div>
