<h1>Welcome!</h1>

<br>

<button class="btn btn-primary new-puzzle-button">
  <span> + Make A New Puzzle</span>
</button>
<br>
<br>
<br>
<label>
<h2>My Puzzles</h2>
<div class="container-fluid puzzle-index">

</div>
</label>
