<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<br>
<br>
<br>
  <div class="row home-options">

    <div class="row">
      <div class="home-col col-md-3">
        <div class="home-div play-todays-puzzle">
          <img src="http://a5.mzstatic.com/us/r30/Purple4/v4/13/09/38/130938c1-3925-a834-d1c6-cb698b9679e2/icon175x175.png"
          class="play-puzzle-image"
          alt= "crosswordIcon" />
          <br>
          <br>
          <span class="play-todays-puzzle-text">Play Today's Puzzle</span>
          <br>
          <div class="todays-puzzle-info">
            <span class="todays-puzzle-title">
              Feline Groovy
            </span>
            <br>
            By: Jon Elofson
            <br>
            Difficulty: Medium
          </div>
        </div>
      </div>
      <div class="home-col col-md-3 col-md-offset-1">
        <div class="home-div my-puzzles">
          <span class="my-puzzles-text">My Puzzles</span>
          <br>
          <ul class="puzzle-index">

          </ul>
        </div>
      </div>
      <div class="home-col col-md-3 col-md-offset-1">
        <div class="home-div make-a-new-puzzle">
          <img src="http://www.pd4pic.com/images/black-icon-pen-pencil-outline-symbol-office.png"
          alt="PencilIcon"
          class="pencil-icon" />
          <br>
          <br>
          Make A New Puzzle
          <div class="puzzle-form">
          </div>
        </div>
      </div>

    </div>


  </div>
