<div class="container edit-puzzle-components">

<div class="sticky-pieces">
  <div class="puzzle-info affix-top"  data-spy="affix">
  <h4 class="puzzle-title"><%= puzzle.escape('title').toUpperCase() %></h4>
  <h5>Size: <%= puzzle.escape('row_no') + 'x' + puzzle.escape('col_no') %></h5>
  <h5><%=puzzle.privateString()%></h5>
  <h5>Percent Complete: <%= puzzle.percentComplete() + "%" %> </h5>
  <br>
  <br>
    <div class="puzzle-buttons">
      <a role="button" class="btn btn-success save-puzzle">Save Puzzle</a>
      <br>
      <br>
      <a role="button" class="btn btn-info edit-puzzle">Edit Puzzle Info</a>
      <br>
      <br>
      <a role="button" class="btn btn-warning check-symmetry">Check Symmetry</a>
      <br>
      <br>
      <a role="button" class="btn btn-danger publish-puzzle">Publish Puzzle</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="affix puzzle-grid container col-xs-4 " id="puzzle-grid">
  </div>
</div>



<div class="clues">
  <div class="container-fluid across-clues col-xs-3" id="across-clues">

  </div>

  <div class="container-fluid down-clues col-xs-3" id="down-clues">

  </div>

</div>

<br>
<br>
<br>
</div>
