<h2>MY PUZZLES</h2>



  <ul class="puzzle-index-items">

  </ul>

<% if (puzzles.length === 0) { %>
  <h3>You haven't made any puzzles yet!</h3>
  <h3>Click on 'Make A New Puzzle' on the left to get started.</h3>
<% } %>
