<label class="puzzle-title" for="puzzle-grid">
Title: <%= puzzle.escape('title') %>
</label>

<div class="puzzle-grid" id="puzzle-grid">

</div>


<div class="answers">
  <div class="container-fluid across-answers" id="across-answers">

  </div>


  <div class="container-fluid down-answers" id="down-answers">

  </div>

</div>
