<% puzzles.each(function (puzzle) { %>
  <li> <%= puzzle.escape('title') %> </li>
  <li> <%= puzzle.escape('difficulty') %> </li>
  <button class="btn btn-success">Edit</button>
  <button class="btn btn-danger">Delete</button>
  <br>
<% }) %>
