<p class="ans-no">
  <% if (square.escape('no_str')) { %>
    <%= square.escape('no_str') %>
  <% } else { %>
    <%= " " %>
  <% } %>
</p>

<% if (square.escape('no_str')) { %>
  <input type="text"
         name="square[value]"
         class='square-val with-no'
         value="<%=square.escape('value')%>"
         maxlength="1"
         autocomplete="off">
<% } else { %>
  <input type="text"
         name="square[value]"
         class='square-val'
         value="<%=square.escape('value')%>"
         maxlength="1"
         autocomplete="off">
<% } %>
