<p class="ans-no">
  <% if (noStr) { %>
    <%= noStr %>
  <% } else { %>
    <%= " " %>
  <% } %>
</p>

<% if (noStr) { %>
  <input type="text"
         name="square[value]"
         class='square-val with-no'
         maxlength="1"
         autocomplete="off"
         value="<%=square.escape('value')%>"
         onblur="this.value = this.value;">
<% } else { %>
  <input type="text"
         name="square[value]"
         class='square-val'
         value="<%=square.escape('value')%>"
         maxlength="1"
         autocomplete="off"
         onblur="this.value = this.value">
<% } %>
